version: '3'

services:
    main-service:
        container_name: main-service
        build: './main-service'
        command: npm run start:debug
        env_file: ./.env
        ports:
            - ${MAIN_PORT}:${MAIN_PORT}
        networks:
            - webnet
        volumes:
            - ./main-service:/app
            - /app/node_modules
        restart: on-failure
        depends_on:
            - postgres-db

    postgres-db:
        image: postgres:alpine
        env_file: ./.env
        environment:
            POSTGRES_DB: ${PG_DB}
            POSTGRES_USER: ${PG_USER}
            POSTGRES_PASSWORD: ${PG_PASS} 
            PG_DATA: /var/lib/postgresql/data
        ports:
            - "5432:5432"
        expose:
        - '5432'
        networks:
            - webnet
        volumes:
            - pgdata:/var/lib/postgresql/data


            
networks:
    webnet:

volumes:
    pgdata: